crossbow {
   display:flex;
  flex-direction:row-reverse;
  justify-content: flex-start;
  align-items:flex-end;
}

.target:nth-of-type(2) {
   align-self: stretch;
  flex-grow:1;
  flex-shrink:2;
}

.target:nth-of-type(3) {
  align-self: flex-start;
}

.target:nth-of-type(4) {
}